* {
	margin:0;
	padding:0;
	font-family: 'Merriweather', sans-serif;
	font-weight: 800;
	font-size: 12px;
}

body {
	width: 100%;
	height: 2000px;
	box-sizing: border-box;
	background: #28c9b6; /* Old browsers */
	background: -moz-linear-gradient(top, #28c9b6 0%, #e5d57b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #28c9b6 0%,#e5d57b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #28c9b6 0%,#e5d57b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28c9b6', endColorstr='#e5d57b',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	/*padding-left: 30%;
	padding-right: 30%;*/
}

#header {
	width: 100%;
	height: 100vh;
	background-color: #6F6C87;
	margin:auto;
	padding-top: 100px;	
}

/*#header .imagesContainer {
	margin-left: 40%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #fd7C87;
    background-image: url("../images/balloon.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 90px;
}*/

#header .imagesContainer {
	width: 500px;
	height: 500px;
	margin: 0;
	position: absolute;
	top: 510px;
	left: 40.2%;
	text-align: center;
}

#header .imagesContainer p {
	animation: 1.5s opacity;
	-webkit-transition: 1.5s opacity;
}

#header .imagesContainer #in {
/*	opacity: 0;
	animation-name: fadeIn;
    animation-duration: 10s; 
    animation-iteration-count: infinite;*/
}

#header .imagesContainer #out {
/*	animation-name: fade;
	animation-delay: 5s;
	animation-duration: 10s;
	animation-iteration-count: infinite;*/
	opacity: 0;
	position: relative;
	top: -50px;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#header #circCanvas {
	margin-left: 15%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #fd7C87;
}

#header .info {
	color:white;
	width: 260px;
	height: 100%;
	font-size: 25px; 
	margin-left: 100px;
	float: left;
	text-align: left;
}

#header h1{
	width: 100%;
	font-size: 25px; 
	font-weight: 400;
	float: left;
}

#header h1 *{
	width: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	font-style: normal;
	border-bottom: 1px;
    border-bottom: solid #fff;
    line-height: 1;
}

#header p {
	margin-top: 30px;
	display: inline-block;
	font-size: 15px; 
	line-height: 1.7rem;
	font-family: 'Open Sans', sans-serif;
	color:white;
	width: 100%;
	font-weight: 100;
}

#header .jump {	
	margin-top: 100px;
	box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #6F6C87;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
}

#header .jump:hover {
	background-color: #fff;
	border: 2px solid #6F6C87;
	font-weight: 400;
	color: #6F6C87;
}

#middle {
	width: 100%;
	height: 700px;
	background-color: #8D9987;
	margin:auto;
	padding-top: 100px;	
}

#middle .imagesContainer {
	margin-left: 40%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #fd7C87;
    background-image: url(../images/circle.svg);
    background-position: center;
    background-clip: border-box;
    background-size: 790px;
}

#middle .imagesContainer h1 {
	color:white;
	width: 100%;
	height: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	margin:auto;
	float: left;
	margin-top: 32%;
	text-align: center;
	
}

#middle .imagesContainer h1 *{
	color:white;
	width: 100%;
	height: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	margin:auto;
	float: left;
	text-align: center;
	font-style: normal;
}

#middle .info {
	color:white;
	width: 260px;
	height: 100%;
	font-size: 25px; 
	margin-left: 100px;
	float: left;
	text-align: left;
}

#middle h1{
	width: 100%;
	font-size: 25px; 
	font-weight: 400;
	float: left;
}

#middle h1 *{
	width: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	font-style: normal;
	border-bottom: 1px;
    border-bottom: solid #fff;
    line-height: 1;
}

#middle p {
	margin-top: 30px;
	display: inline-block;
	font-size: 15px; 
	line-height: 1.7rem;
	font-family: 'Open Sans', sans-serif;
	color:white;
	width: 100%;
	font-weight: 100;
}

#middle .jump {	
	margin-top: 100px;
	box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8D9987;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
}

#middle .jump:hover {
	background-color: #fff;
	border: 2px solid #8D9987;
	font-weight: 400;
	color: #8D9987;
}

#middle #input_form {
	margin-left: 24%;
	box-sizing: border-box;
	width: 50%;
	height: 80%;
}

#middle form {
	margin-top: 10px;
	margin-left: 20%;
	width: 100%;
	height: 150px;
	font-weight: 100;  
	font-size: 18px;
}


#middle form span { 
	position: relative;
	left: -13px;
	top: 20px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 15px;
	text-align: center;
}

#middle #tags {
	margin-bottom: 80px;
}

#middle #tags span {
	text-align: center;
	left: -15;
}

#middle #hitEnter {
	margin-left: 3%;
	box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8D9987;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
}

#middle #hitEnter:hover {
	background-color: #fff;
	border: 2px solid #8D9987;
	font-weight: 400;
	color: #8D9987;
}

  input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 5px;
        top: -2px;
        left: -3px;
        position: relative;
        background-color: #8D9987;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 5px;
        top: -2px;
        left: -3px;
        position: relative;
        background-color: #fd7C87;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid white;
    }

    input {
    	margin-left: 5.5%;
    }

    #input_form h1{
    	margin-left: 3%;
    	color: white;
    	font-family: 'Open Sans', sans-serif;
    	font-weight: 100;
    	font-size: 16px;
    	margin-bottom: 80px;
    	margin-top: 145px;
    }

    #input_form h1:last-of-type{
    	margin-left: 3%;
    	color: white;
    	font-family: 'Open Sans', sans-serif;
    	font-weight: 100;
    	font-size: 16px;
    	margin-bottom: 25px;
    	margin-top: 0px;
    }


 #input_form .progress {
 	position: relative;
 	top: -100px;
 	margin-top: 13px;
 	margin-left: 3%;
 	box-sizing: border-box;
 	padding: 5px;
 	display: inline-block;
 	border-radius: 3px; 
 	width: 94%;
 	height: 50px;
 	background-color: lightgrey;
 }

 #input_form .progress-bar {
  height: 40px;
  border-radius: 5px;
  background-color: #fd7C87;
  transition-property: width;
  transition: 0.4s linear;
  width: 5%;
}

#stress1:checked ~ .progress > .progress-bar {
  width: 10%;
  background-color: #fd7C87;
}
#stress2:checked ~ .progress > .progress-bar {
  width: 20%;
  background-color: #fd7C87;
}
#stress3:checked ~ .progress > .progress-bar {
  width: 30%;
  background-color: #fd7C87;
}
#stress4:checked ~ .progress > .progress-bar {
  width: 40%;
  background-color: #fd7C87;
}
#stress5:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #fd7C87;
}
#stress6:checked ~ .progress > .progress-bar {
  width: 60%;
  background-color: #fd7C87;
}
#stress7:checked ~ .progress > .progress-bar {
  width: 70%;
  background-color: #fd7C87;
}
#stress8:checked ~ .progress > .progress-bar {
  width: 80%;
  background-color: #fd7C87;
}
#stress9:checked ~ .progress > .progress-bar {
  width: 90%;
  background-color: #fd7C87;
}
#stress10:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #fd7C87;
}

#bottom {
	width: 100%;
	height: 1600px;
	background-color: #D1AA5D;
	margin:auto;
	padding-top: 100px;	
}

#bottom .imagesContainer {
	margin-left: 40%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #fd7C87;
    background-image: url(../images/circle.svg);
    background-position: center;
    background-clip: border-box;
    background-size: 790px;
}

#bottom .imagesContainer h1 {
	color:white;
	width: 100%;
	height: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	margin:auto;
	float: left;
	margin-top: 32%;
	text-align: center;
	
}

#bottom .imagesContainer h1 *{
	color:white;
	width: 100%;
	height: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	margin:auto;
	float: left;
	text-align: center;
	font-style: normal;
}

#bottom .info {
	color:white;
	width: 260px;
	height: 500px;
	font-size: 25px; 
	margin-left: 100px;
	float: left;
	text-align: left;
}

#bottom h1{
	width: 100%;
	font-size: 25px; 
	font-weight: 400;
	float: left;
}

#bottom h1 *{
	width: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	font-style: normal;
	border-bottom: 1px;
    border-bottom: solid #fff;
    line-height: 1;
}

#bottom p {
	margin-top: 30px;
	display: inline-block;
	font-size: 15px; 
	line-height: 1.7rem;
	font-family: 'Open Sans', sans-serif;
	color:white;
	width: 100%;
	font-weight: 100;
}

#bottom .jump {	
	margin-top: 100px;
	box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D1AA5D;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
}

#bottom .jump:hover {
	background-color: #fff;
	border: 2px solid #D1AA5D;
	font-weight: 400;
	color: #D1AA5D;
}

#bottom #charts {
	margin-top: 110px;
	margin-left: 7%;
}

#bottom #charts h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 15px;
	margin-bottom: 20px;
}

#bottom .hourContainer {
	font-weight: 100;
	display: inline-block;
	box-sizing: border-box;
	background-color: #D1AA5D;
	float: left;
	width: 54%;
	margin-top: 45px;
	margin-right: 50px;
	margin-left: 11%;
	margin-bottom: 100px;
	height: 350px;
}

#bottom .dayContainer {
	display: inline-block;
	box-sizing: border-box;
	background-color: #D1AA5D;
	float: left;
	width: 40%;
	margin-top: 20px;
	margin-right: 0px;
	height: 250px;
}

#bottom .avgContainer {
	display: inline-block;
	box-sizing: border-box;
	background-color: #D1AA5D;
	float: left;
	width: 40%;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 80px;
	height: 250px;
}

#bottom .tagContainer {
	display: inline-block;
	box-sizing: border-box;
	background-color: #D1AA5D;
	float: left;
	width: 60%;
	margin: 0;
	margin-top: 140px;
	height: 300px;
}

#final {
	width: 100%;
	height: 800px;
	background-color: #848079;
	margin:auto;
	padding-top: 100px;	
}

#final .imagesContainer {
	margin-left: 40%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #fd7C87;
    background-image: url(../images/circle.svg);
    background-position: center;
    background-clip: border-box;
    background-size: 790px;
}

#final .imagesContainer h1 {
	color:white;
	width: 100%;
	height: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	margin:auto;
	float: left;
	margin-top: 32%;
	text-align: center;
	
}

#final .imagesContainer h1 *{
	color:white;
	width: 100%;
	height: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	margin:auto;
	float: left;
	text-align: center;
	font-style: normal;
}

#final .info {
	color:white;
	width: 260px;
	height: 500px;
	font-size: 25px; 
	margin-left: 100px;
	float: left;
	text-align: left;
}

#final h1{
	width: 100%;
	font-size: 25px; 
	font-weight: 400;
	float: left;
}

#final h1 *{
	width: 100%;
	font-size: 60px; 
	letter-spacing: 2px;
	font-style: normal;
	border-bottom: 1px;
    border-bottom: solid #fff;
    line-height: 1;
}

#final p {
	margin-top: 30px;
	display: inline-block;
	font-size: 15px; 
	line-height: 1.7rem;
	font-family: 'Open Sans', sans-serif;
	color:white;
	width: 100%;
	font-weight: 100;
}

#final a:first-of-type {
	font-style: normal;
}

#final a {
	font-size: 15px; 
	line-height: 1.7rem;
	font-family: 'Open Sans', sans-serif;
	color: lightblue;
	width: 100%;
	font-weight: 100;
	font-style: italic;
	text-decoration: none;
}

#final a:hover {
	color: white;
}

#final .jump {	
	margin-top: 80px;
	box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #848079;
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
}

#final .jump:hover {
	background-color: #fff;
	border: 2px solid #848079;
	font-weight: 400;
	color: #848079;
}

#final h2 {
	margin-top: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px; 
	font-weight: 400;
}






